list-entries {
    .content {
        display: table;
        width: 80%;
        margin: 0 auto;
        .entries {
            margin: 50px 0;
        }
    }
    md-list {
        padding: 0;
        h3,
        p {
            margin: 0;
        }
        p {
            text-align: center;
        }
        .reasons {
            margin: 0px 20px;
        }
        md-list-item {
            border-bottom: 1px solid #c3c3c3;
        }
    }
    .md-button.md-fab {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 60px;
        bottom: 60px;
    }
}